*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    height: 431px;
    background-color: aqua;
    position: relative;
}
main{
    height: 1054px;
    background-color: white;
}
footer{
    height: 308px;
    background-color: green;
}
.first-header{
    position: relative;
    width: 1200px;
    height: 64px;
    margin: 0 auto;
}

.nav{
    float: right;
    width: 800px;
    height: 64px;
}

.nav>li{
    float: left;
    display: block;
    height: 64px;
}

.icon{
    position: absolute;
    float: left;
    left:0;
}

.nav a{
    display: block;
    margin: 0 auto;
    width: 84px;
    height: 64px;
    color: #fff;
    font-size: 14px;
    line-height: 64px;
    text-align: center;
}
h1{
    position: absolute;
    width: 100%;
    height: 42px;
    margin: 0 auto;
    text-align: center;
    font-weight: normal;
}
